#main {
    display: flex;
}

#nav {
    height: 100%;
    background-color: #0091FF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70px;
    text-align: center;
    position: fixed;
}

#nav li {
    position: relative;
}
.nav-notifi {
    position: absolute;
    width: 120%;
    padding: 5px 8px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    display: none;
    right: -70px;
    bottom: 0;
    z-index: 999;
    animation: show .5s ease ;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#nav>ul>li:hover {
    background-color: #40ADFF;
}

#nav>ul>li:hover .nav-notifi {
    display: block;
}

#nav img {
    width: 40px;
    margin: 10px 0;
}

#nav-top {
    margin-top: 20px;
}

.nav-top_avata {
    border-radius: 50%;
    background-image: url("../images/background_nav.jpg");
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    margin-left: 5px;
}

#nav-bottom {

}

#online {
    margin-left: 70px;
}

.online-chat {
    width: 300px;
    height: 80px;
    line-height: 80px;
}

.online-chat_search {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    position: fixed;
    top: 0;
    width: 300px;
    background-color: #fff;
    box-shadow: 10px 0 10px #000000d1;
}

.online-chat_search img {
    width: 20px;
    height: 20px;
}

.seacrh-people {
    display: flex;
    width: 50%;
    background-color:#E8EAEF;
    height: 30px;
    padding: 2px 8px;
    border-radius:30px ;
    margin: auto 0;
}
.seacrh-people img {
    opacity: .5;
    cursor: pointer;
}
.seacrh-people input {
    background-color: #E8EAEF;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.add-people {
    cursor: pointer;
}

.online-mess {
    margin-top: 80px;
    overflow-y: scroll;
    height: 664px;
}
.peopel-mess {
    display: flex;
    border: 1px solid #ccc;
    height: 100px;
}
.peopel-avata {
    margin: 10px 10px 0 10px;
    width: 20%;
}
.peopel-avata img {
    width: 100%;
    height: 50%;
    border-radius: 50%;
}
.peopel-chat {

}
.peopel-chat h1 {
    font-size: 16px;
    height: 30%;
}
.peopel-chat p {
    height: 70%;
}


#chat {
    background-color: antiquewhite;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 82px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #525252;
    box-shadow: 10px 0 10px #000000d1;
}
header img {
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 10px;
}
header h3 {
    color: rgb(21, 17, 17);
}
#instruction {
    color: white;
    text-align: center;
    margin-top: 82px;
    height: 615px;
    overflow-y: scroll;
}
#typeAndSend {
    display: flex;
    position: fixed;
    right: 0;
    padding-left: 370px;
    bottom: 0;
    width: 100%;
}
#instruction img {
    height: 80px;
    border-radius: 100%;
    border: 4px solid white;
    margin-top: 120px;
}
#instruction h3 {
    margin: 10px 0 5px 0;
    font-size: 28px;
}
.avatar {
    align-self: flex-end;
}
.avatar img {
    position: fixed;
    bottom: 68px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid white;
    margin-left: 20px;
}

#typeAndSend input {
	border: none;
	outline: none;
	background: #3A3C3E;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 20px;
	color: white;
	padding-left: 10px;
    flex: 5;
}

#btn_send {
    flex: 1;
    height: 50px;
    background-color: #0091FF;
    cursor: pointer;
}
#btn_send:hover {
    opacity: .6;
}
.setting {
    position: absolute;
    background-color: #fff;
    top: -30px;
    left: 20px;
    width: 100px;
    display: none;
    z-index: 999;
}
.setting> li {
    list-style: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.setting> li:hover {
    color: red;
}
