
#nav {
    background-color: #0091FF;
    width: 70px;
}

#nav li {
    position: relative;
    list-style: none;
    padding: 0 10px;
}
.nav-notifi {
    width: 120%;
    padding: 5px 8px;
    border: 1px solid #fff;
    right: -70px;
    z-index: 999;
    animation: show .5s ease ;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#nav>ul>li:hover {
    background-color: #40ADFF;
}

#nav>ul>li:hover .nav-notifi {
    display: block;
}

#nav img {
    width: 40px;
    margin: 10px 0;
}

#nav-top {
    margin-top: 20px;
}

.nav-top_avata {
    border-radius: 50%;
    background-image: url("../images/background_nav.jpg");
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    margin-left: 5px;
}

#nav-bottom {

}

#online {
    margin-left: 70px;
}

.online-chat {
    width: 300px;
    height: 80px;
    line-height: 80px;
}

.online-chat_search {
    border: 1px solid #ccc;
    width: 300px;
    box-shadow: 10px 0 10px #000000d1;
}

.online-chat_search img {
    width: 32px;
    height: 20px;
}

.seacrh-people {
    width: 50%;
    background-color:#E8EAEF;
    height: 30px;
    padding: 2px 8px;
    border-radius:30px ;
    margin: auto 0;
}
.seacrh-people img {
    opacity: .5;
}
.seacrh-people input {
    background-color: #E8EAEF;
    border: none;
    outline: none;
}

.online-mess {
    margin-top: 80px;
    overflow-y: scroll;
    height: 664px;
}
.peopel-mess {
    border: 1px solid #ccc;
    height: 100px;
}
.peopel-avata {
    margin: 10px 10px 0 10px;
    width: 20%;
}
.peopel-avata img {
    height: 50%;
    border-radius: 50%;
}
.peopel-chat {

}
.peopel-chat h1 {
    font-size: 16px;
    height: 30%;
}
.peopel-chat p {
    height: 70%;
}


#chat {
    width: 100%;
    margin-right: -12px;
}
header {
    height: 82px;
    padding: 10px;
    border-bottom: 1px solid #525252;
    box-shadow: 10px 0 10px #000000d1;
}
header img {
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 10px;
}

#instruction {
    margin-top: 82px;
    height: 615px;
    overflow-y: scroll;
}
#typeAndSend {
    padding-left: 370px;
    z-index: -1;
}
#instruction img {
    height: 80px;
    border-radius: 100%;
    border: 4px solid white;
    margin-top: 120px;
}
#instruction h3 {
    margin: 10px 0 5px 0;
    font-size: 28px;
}
.avatar {
    align-self: flex-end;
}
.avatar img {
    position: fixed;
    bottom: 68px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid white;
    margin-left: 20px;
}

#typeAndSend input {
	border: none;
	outline: none;
	background: #3A3C3E;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 20px;
	color: white;
	padding-left: 10px;
    flex: 5;
}

#btn_send {
    flex: 1;
    height: 50px;
    background-color: #0091FF;
    cursor: pointer;
}
#btn_send:hover {
    opacity: .6;
}
.setting {
    top: -30px;
    left: 20px;
    width: 100px;
    z-index: 999;
}
.setting> li {
    list-style: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.setting> li:hover {
    color: red;
}
div#main_add {
    transform: translate(0px, 0px) rotate3d(1,1,1,0);
    width: 600px;
    animation: hien .3s ease;
}
#container_add {
    animation: opa .3s ease;
}
@keyframes hien {
    0% {
        transform: translate(-293px, -252px) rotate3d(1,1,1,180deg);
        width: 30%;
    }
    100% {
        transform: translate(0px, 0px) rotate3d(1,1,1,0);
        width: 600px;
    }
}
@keyframes opa {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.3);
    }
}
#main_add img{
    width: 60px;
}
.input {
    position: relative;
    top: 20px;
    left: -20px;
}
